<launch>
    <!-- Arguments -->
    <arg name="global_mapping" default="false" />
    <arg name="rviz" default="false" />

    <!-- Height Mapping Node -->
    <node name="height_mapping" pkg="height_mapping_ros" type="height_mapping_node" output="screen">
        <rosparam file="$(find height_mapping_ros)/config/default.yaml" command="load" subst_value="true" />

        <!-- Override config_path based on mapping mode -->
        <param name="config_path"
               value="$(find height_mapping)/config/global.yaml"
               if="$(arg global_mapping)" />
        <param name="topics/publish_rate" value="1.0" if="$(arg global_mapping)" />
    </node>

    <!-- Visualization -->
    <include file="$(find height_mapping_ros)/launch/tools/visualization.launch" />

    <!-- RViz (optional) -->
    <node pkg="rviz" type="rviz" name="rviz" if="$(arg rviz)"
          args="-d $(find height_mapping_ros)/launch/rviz/height_mapping.rviz" />
</launch>
